/node_modules
/public/uploads
/public/uploads/applicantcvs
/public/uploads/dp
/public/uploads/feebackimages
/public/uploads/logoimages
/public/uploads/medicalfiles
/public/uploads/medicalvideofiles
/public/uploads/products
/public/uploads/storeimages

