<html lang="en">

<head>
    <title>HPORx Medical Card</title>

</head>

<body>
    <div>


        <div>
            <div>
                <div>
                    <h1>
                        <%=title%>
                    </h1>

                </div>
                <div>
                    
                    <img style="width: 100px;height: 100px;" src="https://hporxadminbackend.herokuapp.com<%= customerimage %>" alt="">
                </div>
                <div>
                    Name: <b>
                        <%=customername%>
                    </b>
                </div>
                <div>
                    Date of Birth: <b>
                        <%=dob%>
                    </b>
                </div>
                <div>
                    Date of Issuance: <b>
                        <%=issuanceDate%>
                    </b>
                </div>
                <div>
                    Validity Date: <b>
                        <%=validityDate%>
                    </b>
                </div>
            </div>
        </div>
    </div>
</body>

</html>